// Colors
$dark-blue: #251f31;
$pale-yellow: #f0f0e3;
$light-blue: #6cbee8;
$purple: #7947c5;


// Vars
$color_sky: $dark-blue;
$color_moon: #fff;
$color_meteor: #fff;
$color_carter: $pale-yellow;
$size_moon: 250px;
$count_star: 25;
$color_planet_up: $light-blue;
$color_planet_middle: $purple;
$color_planet_bottom: transparent;
$color_mountain_dark: darken($dark-blue, 10%);
$color_mountain_light: $dark-blue;
$color_mountain_silhouette: $purple;
